{% extends 'main.html' %}
{% load i18n %}
{% block content %}
<body>
      <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->
    <main>
        <!-- page-banner-area-start -->
        <div class="page-banner-area page-banner-height" data-background="/static/assets/img/banner/page-banner-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page-banner-content text-center">
                            <h3>{% trans "About Us" %}</h3>
                            <p>{% trans "A wonderful serenity has taken possession of my entire soul, like these" %} <br> {% trans "sweet mornings of spring which I enjoy with my whole heart." %}</p>
                            <div class="page-bottom-btn mt-55">
                                <a href="{% url 'shop' %}" class="st-btn-4">{% trans "Discover now" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-banner-area-end -->

        <!-- about-area-start -->
        <div class="about-area pt-80 pb-80" data-background="/static/assets/img/bg/about-bg.png">
            <div class="container">
                <div class="row align-items-center">
                   <div class="col-xl-6 col-lg-6">
                       <div class="about-content">
                           <span>{% trans "ABOUT OUR ONLINE STORE" %}</span>
                           <h4>{% trans "Hello" %},</h4>
                           <h5 class="banner-t mb-30">{% trans "With 25+ Years Of Experience" %}</h5>
                           <p class="about-text">{% trans "Over 25 years Dukamarket helping companies reach their" %} <br> {% trans "financial and branding goals." %}</p>
                           <p>{% trans "The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. For me, the most important part of improving at photography." %}</p>
                       </div>
                   </div>
                   <div class="col-xl-6 col-lg-6">
                        <div class="about-image w-img">
                            <img src="/static/assets/img/about/about-b.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about-area-end -->

        <!-- services-area-start -->
        <div class="services-area pt-70 light-bg-s pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>{% trans "HOW IT WORKS" %}</span>
                            <h4>{% trans "Complete Customer Ideas" %}</h4>
                            <p>{% trans "The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit" %} <br> {% trans "in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis." %}</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-40">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-share-square"></i>
                            </div>
                            <h6>{% trans "Admin Verify Details" %}</h6>
                            <p>{% trans "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis." %}</p>
                            <div class="s-count-number">
                                <span>01</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-file"></i>
                            </div>
                            <h6>{% trans "Send The Solution" %}</h6>
                            <p>{% trans "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis." %}</p>
                            <div class="s-count-number">
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-item mb-30">
                            <div class="services-icon mb-25">
                                <i class="fal fa-thumbs-up"></i>
                            </div>
                            <h6>{% trans "Complete Profile" %}</h6>
                            <p>{% trans "Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium totam rem aperiam, eaqueipsa quae veritatis." %}</p>
                            <div class="s-count-number">
                                <span>03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- services-area-end -->

        <!-- technolgy-index-start -->
        <div class="technolgy-index mt-70 mb-10">
            <div class="container">
                <div class="row mb-15">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>{% trans "TECHNOLOGY INDEX" %}</span>
                            <h4>{% trans "Let’s Get Creative" %}</h4>
                            <p>{% trans "The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit" %} <br> {% trans "in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis." %}i</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-abs mb-30">
                            <div class="ab-counter-image w-img mb-40">
                                <img src="/static/assets/img/about/ab-01.jpg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="ab-counter-item mb-30">
                                        <div class="ab-counter mb-20">
                                            <div class="counter-icon mr-10">
                                                <img src="/static/assets/img/about/c-icon-01.png" alt="">
                                            </div>
                                            <div class="counter_info">
                                                <span class="counter">8262</span>
                                               <p>+</p>
                                           </div>
                                        </div>
                                        <h5>{% trans "Active Clients" %}</h5>
                                        <p>{% trans "Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam." %}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="ab-counter-item mb-30">
                                        <div class="ab-counter mb-20">
                                            <div class="counter-icon mr-10">
                                                <img src="/static/assets/img/about/c-icon-01.png" alt="">
                                            </div>
                                            <div class="counter_info">
                                                <span class="counter">4268</span>
                                               <p>+</p>
                                           </div>
                                        </div>
                                        <h5>{% trans "Projects Done" %}</h5>
                                        <p>{% trans "Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="main-abs mb-30">
                            <div class="ab-counter-image w-img mb-40">
                                <img src="/static/assets/img/about/ab-02.jpg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="ab-counter-item mb-30">
                                        <div class="ab-counter mb-20">
                                            <div class="counter-icon mr-10">
                                                <img src="/static/assets/img/about/c-icon-01.png" alt="">
                                            </div>
                                            <div class="counter_info">
                                                <span class="counter">643</span>
                                               <p>+</p>
                                           </div>
                                        </div>
                                        <h5>{% trans "Team Advisors" %}</h5>
                                        <p>{% trans "Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam." %}</p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="ab-counter-item mb-30">
                                        <div class="ab-counter mb-20">
                                            <div class="counter-icon mr-10">
                                                <img src="/static/assets/img/about/c-icon-01.png" alt="">
                                            </div>
                                            <div class="counter_info">
                                                <span class="counter">269</span>
                                               <p>k</p>
                                           </div>
                                        </div>
                                        <h5>{% trans "Users Online" %}</h5>
                                        <p>{% trans "Sed ut perspiciatis unde omnis iste natus sit accusantium doloremque laudantium totam." %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- technolgy-index-end -->

        <!-- team-area-start -->
        <div class="team-area light-bg-s pt-70 pb-40">
            <div class="container">
                <div class="row mb-35">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>{% trans "THE TEAM" %}</span>
                            <h4>{% trans "Meet Our Team" %}</h4>
                            <p>{% trans "The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit" %} <br> {% trans "in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis." %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team text-center mb-30">
                            <div class="team-image mb-35 w-img">
                                <div class="inner-timg">
                                    <a href="{% url 'about' %}">
                                        <img src="/static/assets/img/team/person-3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="tauthor-degination mb-15">
                                <h5><a href="{% url 'about' %}">Iqbal Hossain</a></h5>
                                <span>CEO & Pounder</span>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team text-center mb-30">
                            <div class="team-image mb-35 w-img">
                                <div class="inner-timg">
                                    <a href="{% url 'about' %}">
                                        <img src="/static/assets/img/team/person-4.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="tauthor-degination mb-15">
                                <h5><a href="{% url 'about' %}">Robin Gomes</a></h5>
                                <span>CEO & Pounder</span>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team text-center mb-30">
                            <div class="team-image mb-35 w-img">
                                <div class="inner-timg">
                                    <a href="{% url 'about' %}">
                                        <img src="/static/assets/img/team/person-5.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="tauthor-degination mb-15">
                                <h5><a href="{% url 'about' %}">Merry Bob</a></h5>
                                <span>CEO & Pounder</span>
                            </div>
                            <div class="team-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-dribbble"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- team-area-end -->

        <!-- location-area-start -->
        <div class="location-area pt-70 pb-25">
            <div class="container">
                <div class="row mb-25">
                    <div class="col-xl-12">
                        <div class="abs-section-title text-center">
                            <span>{% trans "LOCATION STORE" %}</span>
                            <h4>{% trans "Where We Are" %}</h4>
                            <p>{% trans "The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit" %} <br> {% trans "in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis." %}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="/static/assets/img/location/location-1.jpg" alt="">
                            </div>
                            <h6>26 Rue Pelleport - Paris</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Find us" %}</span>
                                    <p>Rue Saint-Antoine, Paris, France  </p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Call us" %}</span>
                                    <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="/static/assets/img/location/location-2.jpg" alt="">
                            </div>
                            <h6>150 Stanley Rd - London</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Find us" %}</span>
                                    <p>Brick Ln, Spitalfields, London E1, UK</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Call us" %}</span>
                                    <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="/static/assets/img/location/location-3.jpg" alt="">
                            </div>
                            <h6>1357 Prospect - New York</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Find us" %}</span>
                                    <p>Atlantic, Brooklyn, New York, US</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Call us" %}</span>
                                    <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                               
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6">
                        <div class="location-item mb-30">
                            <div class="location-image w-img mb-20">
                                <img src="/static/assets/img/location/location-4.jpg" alt="">
                            </div>
                            <h6>86 Georgia Rd - Mardrid</h6>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-map-marker-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Find us" %}</span>
                                    <p>Calle del Correo, 4, Madrid, Spain</p>  
                                </div>
                            </div>
                            <div class="sm-item-loc sm-item-border mb-20">
                                <div class="sml-icon mr-20">
                                    <i class="fal fa-phone-alt"></i>
                                </div>
                                <div class="sm-content">
                                    <span>{% trans "Call us" %}</span>
                                    <p><a href="tel:+8804568">(+100) 123 456 7890</a></p>  
                                </div>
                            </div>
                            <div class="sm-item-loc mb-20">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- location-area-end -->

        <!-- cta-area-start -->
     
        <!-- cta-area-end -->

    </main>

  
   </body>
</html>
{% endblock content %}
