

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <!-- CSS
============================================ -->
<link rel="stylesheet" href="/static/assets/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/assets/assets/css/font.awesome.css" />
<link rel="stylesheet" href="/static/assets/assets/css/pe-icon-7-stroke.css" />
<link rel="stylesheet" href="/static/assets/assets/css/animate.min.css">
<link rel="stylesheet" href="/static/assets/assets/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/static/assets/assets/css/venobox.css">
<link rel="stylesheet" href="/static/assets/assets/css/jquery-ui.min.css">
<!-- Style CSS -->
<link rel="stylesheet" href="/static/assets/assets/css/style.css">
<!-- Minify Version -->
<link rel="stylesheet" href="/static/assets/assets/css/plugins.min.css">
<link rel="stylesheet" href="/static/assets/assets/css/style.min.css">

{% extends 'main.html' %}

{% block content %}
{% if request.user.is_staff %}
<main>
<div class="page-banner-area page-banner-height-2" data-background="/static/assets/img/banner/page-banner-4.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="page-banner-content text-center">
                    <h4 class="breadcrumb-title">MY Profile</h4>
                    <div class="breadcrumb-two">
                        <nav>
                           <nav class="breadcrumb-trail breadcrumbs">
                              <ul class="breadcrumb-menu">
                                 <li class="breadcrumb-trail">
                                    <a href="/"><span>Home</span></a>
                                 </li>
                                 <li class="trail-item">
                                    <span>My Profile</span>
                                 </li>
                              </ul>
                           </nav> 
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page-banner-area-end -->

<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
                <!-- Nav tabs -->
                <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li> <a href="my-account.html#products" data-bs-toggle="tab" class="nav-link">Add Product</a></li>
                        <li> <a href="my-account.html#brands" data-bs-toggle="tab" class="nav-link">Add Brand</a></li>
                        <li><a href="my-account.html#account-details" data-bs-toggle="tab" class="nav-link active">Account details</a>
                        </li>
                        <li><a href="{% url 'logout' %}" class="nav-link">logout</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                    
                    <div class="tab-pane fade" id="products">
                        <h4>Add product</h4>
                        <div class="table_page table-responsive">
                            <form class="form" method="POST" action="{% url 'admin-page' %}" enctype="multipart/form-data">
                                  
                                {% for form in pform %}
                                <div class="default-form-box mb-20">
                                    <label>{{form.label}}</label>
                                    {{form}}
                                </div>
                                {% endfor %}
                                <div class="save_button mt-3">
                                    <button class="btn" type="submit">Save</button>
                                </div> 
                            </form>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="brands">
                        <h4>Add brand</h4>
                        <div class="table_page table-responsive">
                            <form class="form" method="POST" action="{% url 'admin-page' %}" enctype="multipart/form-data">
                                  
                                {% for form in bform %}
                                <div class="default-form-box mb-20">
                                    <label>{{form.label}}</label>
                                    {{form}}
                                </div>
                                For example:Fashion
                                {% endfor %}

                                <div class="save_button mt-3">
                                    <button class="btn" type="submit">Save</button>
                                </div> 
                            </form>

                        </div>
                    </div>
                    
                    <div class="tab-pane fade show active" id="account-details">
                        <h3>Account details </h3>
                        <div class="login">
                            <div class="login_form_container">
                                <div class="account_login_form">
                                        <!-- Main Section -->
                                    <a class="backButton" href="{% url 'profile' %}"><i class="im im-angle-left"></i></a>
                          
                                    <form class="form" method="POST" action="{% url 'admin-page' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% for form in form %}
                                        <div class="default-form-box mb-20">
                                            <label>{{form.label}}</label>
                                            {{form}}
                                        </div>
                                        {% endfor %}
                                        <div class="save_button mt-3">
                                            <button class="btn" type="submit">Save</button>
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- account area start -->

</main>
{% else %}
You are not administrator!!!!!!!!!!!
{% endif %}
{% include 'ptscripts.html' %}

{% endblock content %}